<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <title>Timing Hero</title>
  </head>
  <body>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block" rel="stylesheet">
  <mat-toolbar style = "background-color: #72c19b; color:white;">
      <mat-toolbar-row>
        <span class="example-spacer"></span>
        <span>Timing Hero</span>
      </mat-toolbar-row>
    </mat-toolbar> 

  <div class="basic-container">
     <router-outlet></router-outlet>
  </div>
  </body>
</html>